# SPDX-FileCopyrightText: Ludwig Hülk <@Ludee> © Reiner Lemoine Institut
# SPDX-FileCopyrightText: Jonas Huber <@jh-RLI> © Reiner Lemoine Institut
# SPDX-License-Identifier: MIT

black
isort
jsonschema
pytest
tox
twine
wheel
build
argparse
jsonschema
referencing